<?xml version="1.0" encoding="utf-8" ?>
<!--
  /**
 * Created by Q-Solutions Studio
 * Date: 01.07.19
 *
 * @category    Dfw
 * @package     Dfw_Connector
 * @author      Maciej Buchert <maciej@qsolutionsstudio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="ParentIdsExtensionAttribute" type="Dfw\Connector\Plugin\ParentIds"/>
    </type>

    <preference for="Dfw\Connector\Api\ConnectorInterface" type="Dfw\Connector\Model\Connector" />

</config>
