<?xml version="1.0"?>
<!--
  /**
 * Created by Q-Solutions Studio
 * Date: 02.07.19
 *
 * @category    Dfw
 * @package     Dfw_Connector
 * @author      Maciej Buchert <maciej@qsolutionsstudio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="dfw_connector_catalog_product_save_after"
                  instance="Dfw\Connector\Observer\ChangeProductUpdatedAtPlugin" />
    </event>
</config>